<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="form-group">
      <label>Name : </label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
        <label>Age : </label>
        <input type="text" class="form-control" formControlName="age">
    </div>
    <div class="form-group">
        <label>Salary : </label>
        <input type="text" class="form-control" formControlName="salary">
    </div>
    <button type="submit" class="btn btn-primary">Ajouter user</button>

  </form>